{
  "presets": [["env", { "targets": { "node": 6 } }]],
  "plugins": ["transform-class-properties"],
  "ignore": ["dist/**/*.*"],
  "env": {
    "test": {
      "presets": ["react-native"],
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
